					<header id="header" class="alt">
                                            <span class="logo">
                                                <img class="fadelogo" title="Maxeo php jquery html" alt="Maxeo php jquery html" src="/imgs/maxeoLogo.svg">
                                                <div class="rollinglogo"><img title="Maxeo php jquery html" alt="Maxeo php jquery html" src="/imgs/maxeoLogoC.svg"></div>
                                                <div id="upArrow"><img title="Click to go up" src="/imgs/arrow.svg"></div>
                                            </span>
					</header>