<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Documento senza titolo</title>
        <style>
			document,html,body{
				margin:0;padding:0;
			}
			.content{background-color:#B1FFC1;
			margin:0;
			padding:0;
			}
			.mobileCenter{background-color:#FFE6B1;
			margin: 0 auto;
			margin-bottom:20px;
			
			width:600px;
			}
        </style>
    </head>
    <body>
        <div class="content">
        	<div class="title">
            	<div class="mobileCenter">Titolo</div>
            </div>
			<div class="midContent">
            	<div class="mobileCenter">Corpo</div>
            </div>
            <div class="footer">
            	<div class="mobileCenter">Piede Pagina</div>
            </div>
        </div>
    </body>
</html>
